@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, helvetica, sans-serif;
  font-weight: 300;
  
}

.App {
  text-align: center;
  color: var(--md-sys-color-on-background);
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow: scroll;
  justify-content: center;
  border-radius:30px;


}

body {
  background-color: var(--md-sys-color-background);
  border-radius:30px;
}

.Header-Container {
  padding-bottom: -50px;
  background-image:url('./components/images/header-background.png');
  background-position: center;
  height:350px;
  background-size: cover; 
  width: 95vw;
  margin: 0 auto;
  margin-top:5px;
  border-radius:30px;
  margin-bottom:30px;
}

.header-title h1{
  color:papayawhip;
  background-color:rgba(0,0,0,0.3);
  padding:20px;
  letter-spacing:1px;
  font-size:400%;
  width: fit-content;
  margin: 0 auto;
  margin-top:70px;
  border-radius:20px;
  font-weight:600;

}

.Main-Nav {
  margin-top: 80px;
  margin-bottom: 50px;

}

.Main-Nav a {
  background-color: var(--md-sys-color-primary);
  padding: 10px;
  border-radius: 30px;
  margin: 30px;
  font-size: 15px;
  text-decoration: none;
  color: var(--md-sys-color-on-primary);
  font-weight: 500;
  box-shadow: 1px 0px 2px tan;
}

#Home:active, #Search:active, #Browse:active, #Wish:active {
  background-color:  var(--md-sys-color-tertiary);
  opacity:.7;
}

.Main-Nav a:hover {
  background-color: var(--md-sys-color-tertiary);
  opacity: 1;
}


.container-title {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 60%;
  line-height: 5rem;
}

.container-title h1 {
  font-weight: 500;
  font-size: 50px;
}

#query {
  font-family: Inter, helvetica, sans-serif;
  margin: 10px;
  background-color: var(--md-sys-color-secondary-container);
  font-size: 16px;
  border-radius: 20px;
  height: 50px;
  border: transparent;
  padding: 10px;
  color: var(--md-sys-color-on-secondary-container);
  font-weight: 600;
}

.header-title {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  font-family: Inter, helvetica, sans-serif;
  margin: 0 auto;

}

#topic {
  font-family: Inter, helvetica, sans-serif;
  width: 40%;
  font-size: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px;
  height: 40px;
  padding: 5px;

}

.formDiv {

  width: 90%;
  max-width: 600px;
  padding: 10px;
  height: fit-content;
  background-color: var(--md-sys-color-primary);
  border-radius: 20px;
  margin: 0 auto;

}

.formDiv h2 {
  color: var(--md-sys-color-on-primary);
}

#submit {
  width: 200px;
  margin: 0 auto;
  border-radius: 15px;
  height: 50px;
  font-size: 20px;
}

#submit:hover {
  color: var(--md-sys-color-primary);

}

#submit:active {
  scale: calc(.9);
  font-size: 18px;
  background-color: var(--md-sys-color-secondary-container);
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  height: auto;
  text-align: center;
  margin: 0 auto;

}

.card {
  border-radius: 15px;
  justify-content: center;
  min-height: 300px;
  width: auto;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  padding: 20px;
  box-shadow: 1px 2px 7px gray;
}

.card-title {
  font-weight: 600;
  text-transform: Capitalize;
}

.card img {
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 20px;
  min-width: 200px;
  max-height: 300px;
  background-color: var(--md-sys-color-on-surface-variant);
}

.card img:hover {
  opacity: .8;
  scale: calc(1.1)
}

#favorite {
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid var(--md-sys-color-on-primary-container);
  display: block;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 5%;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  padding: 10px;
}

#learnMore {
  border-radius: 50px;
  border: 1px solid var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px;
}

#learnMore a {
  color: var(--md-sys-color-on-surface);
  font-size: 20px;
  text-decoration: none;
}

#favorite:hover,
#learnMore:hover {
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);

}

#learnMore:hover {
  background-color: var(--md-sys-color-secondary-container);
}

#learnMore:active,
#favorite:active {
  scale: calc(.9);
}

.backTo {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 20px;
}

.backTo a {
  padding: 7px;
  font-size: 10px;
  font-weight: bold;
  color: var(--md-sys-color-tertiary);
  background-color: var(--md-sys-color-on-secondary);
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid var(--md-sys-color-secondary);
}

.backTo a:hover,
#toAuthor:hover {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

.backTo a:active,
#toAuthor:active {
  scale: calc(0.95);
}

#toAuthor {
  font-size: 12px;
  text-transform: capitalize;
  padding: 10px;
}


.Browse-Genre-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  padding: 20px;
  height: auto;
}

.Browse-Genres {

  width: 100%;
  height: 150px;
  font-size: 1.4em;
  border-radius: 15px;
  background-color: var(--md-sys-color-primary-container);
  font-family: Inter, helvetica, sans-serif;
  color: var(--md-sys-color-on-primary-container);
}

.Browse-Genres:hover {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  font-weight: 700;
  font-style:italic;
}

.Browse-Genres:active {
  scale: calc(0.95);
}

.bookCover {
  margin: 0 auto;
  border-radius: 15px;
  margin: 20px;
}



.wishCard {
  height: fit-content;
}

.resultsTextForSearch {
  margin-top: 50px;
  font-weight: 600;
}


.footer{
  background-color: var(--md-sys-color-tertiary);
  color:var(--md-sys-color-on-tertiary);
  height:70px;
  width:100vw;
  padding:20px;
  font-size:12px;
  font-weight:700;
  margin-top:50px;
  position:sticky;
  bottom:0px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  opacity:.9;

}
.footer a{
  color:var(--md-sys-color-on-tertiary);
  font-weight:700;
  text-decoration:none;
  margin: 0 auto;
}
.footer span{
  margin-top:80px;
}
.big-card {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
  line-height: 40px;
  height: fit-content;
  margin-bottom: 10px;

}

.leftside,
.rightside {
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
  padding: 20px;
  background-color: var(--md-sys-color-surface);
  border-radius: 15px;
  margin: 20px;

}

.bookdetail,
.authorBio {
  width: 100%;
  height: 200px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border-radius: 15px;
  padding: 10px;
  line-height: 1.5em;
  font-weight: 500;
  overflow: auto;
}

.authorBio {
  max-height: 100px;
}

.authorBio h5{
  font-weight:500;
  line-height: 1.5em;
}

@keyframes load {
  20% {
    opacity: 1
  }

  40% {
    opacity: .8
  }

  60% {
    opacity: .6
  }

  80% {
    opacity: .8
  }

  100% {
    opacity: 1
  }

}

.loadingText {
  font-weight: 600;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  animation-name: load;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  color: var(--md-sys-color-primary)
}
#hidepagechange{
  display:hidden;
}
#showpagechange{
  display:visible;
}

#smallSearch{
  width:100%;
  text-align:center;
  font-size:10px;
  margin:0px;

}

#smallSearch form{
  height:50px;
  flex-flow: row;
  width:100%;
  margin: 0 auto;
}

#smallSearch form input{
  width:200%;
  height: 75%;

}

#smallSearch #submit, #smallSearch #topic{
  margin-top:8px;
  width:fit-content;
  padding:5px;
  height:75%;
  font-size:12px;
  margin-right:3px;
}

.page-btn{
  padding: 7px;
  font-size: 10px;
  font-weight: bold;
  color: var(--md-sys-color-tertiary);
  background-color: var(--md-sys-color-on-secondary);
  border-radius: 20px;
  text-decoration: none;
  border: 1px solid var(--md-sys-color-secondary);
}
.page-btn:hover{
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

.page-btn:active {
  scale: calc(0.95);
}


@media screen and (max-width:515px){
  .Header-Container {
    height:fit-content;
  }
  
  .header-title h1{
    font-size:200%;
    margin-top:40px;
    font-weight:400;
  }
  .Main-Nav{
    margin-top: 100px;
  }
  .Main-Nav a {
    display:block;
    border-radius: 15px;
    margin: 15px;
    font-size: 8px;
    font-weight: 400;
    width: 90vw;
  }
  .grid{
    display:grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width:90vw;
  }
  .big-card {
    grid-template-columns: 1fr;
    width: 75vw;
    margin: 0 auto;
    line-height: 20px;
    height: fit-content;
    margin-bottom: 10px;
  }
  .big-card h1{
    line-height:normal;
  }
  .container-title h1 {
    font-weight: 500;
    font-size: 24px;
  }
  .bookCover {
    margin: 0 auto;
    border-radius: 15px;
    
  }
  
}
  

